html{
    scroll-behavior: smooth;
}
body{
    background-color: bisque;
}
.nav-item{
    cursor: pointer;
}
.row{
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 32px;
    box-shadow: 12px 12px 26px 2px rgba(0,0,0,0.43);
-webkit-box-shadow: 12px 12px 26px 2px rgba(0,0,0,0.43);
-moz-box-shadow: 12px 12px 26px 2px rgba(0,0,0,0.43);
margin: 100px 0;
padding: 50px;
}
.carousel-item, .carousel-inner{
    box-sizing: border-box;
    height: clamp(300px, 50vh, 600px);
    overflow: hidden;
}
.carousel-item img {
    object-fit: contain; /* This property ensures that the image covers the entire container without stretching */
    max-height: 100%; /* Set a maximum height for the images */
    width: 100%; /* Make sure the image takes up 100% of the width */
}
h2{
    margin-bottom:  20px;
}
.row{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 50vh;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    display: flex;
    justify-content: center;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.ratings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.ratings:nth-child(2){
    transition-delay: 200ms;
}
.ratings:nth-child(3){
    transition-delay: 400ms;
}
.ratings:nth-child(4){
    transition-delay: 600ms;
}
.ratings:nth-child(5){
    transition-delay: 800ms;
}
.ratings:nth-child(6){
    transition-delay: 1s;
}
li{
    font-size: larger;
}
@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
@media (max-width: 768px) {
    .carousel-item,
    .carousel-inner {
      height: 25vh; /* Adjust the height for smaller screens */
    }
  }