html {
    scroll-behavior: smooth;
}
body{
    background-color: #123A48; 
    color: #DEE572;
}
nav,
footer {
    background-color: #0A2265;
}
a,
li,
footer {
    color: #DEE572 !important;
}

li:hover {
    opacity: .5;
}
.nav-item, li, a {
    cursor: pointer;
}
.hero {
    padding: 50px;
    height: 75vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* Adjust the alpha value for darkness */
}

.hero>.child>.details {
    color: #f1f1f1;
    z-index: 1;
    backdrop-filter: blur(4px);
}

.content {

    box-shadow: 12px 12px 26px 2px rgba(115, 181, 93, 0.43);
    -webkit-box-shadow: 12px 12px 26px 2px rgba(115, 181, 93, 0.43);
    -moz-box-shadow: 12px 12px 26px 2px rgba(115, 181, 93, 0.43);
    margin: 50px 0;
    padding: 25px;
}
.card{
    color: black;
    box-shadow: 12px 12px 26px 2px rgba(115, 181, 93, 0.43);
    -webkit-box-shadow: 12px 12px 26px 2px rgba(115, 181, 93, 0.43);
    -moz-box-shadow: 12px 12px 26px 2px rgba(115, 181, 93, 0.43);
}

h2 {
    margin-bottom: 20px;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    display: flex;
    justify-content: center;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.ratings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.ratings:nth-child(2) {
    transition-delay: 200ms;
}

.ratings:nth-child(3) {
    transition-delay: 400ms;
}

.ratings:nth-child(4) {
    transition-delay: 600ms;
}

.ratings:nth-child(5) {
    transition-delay: 800ms;
}

.ratings:nth-child(6) {
    transition-delay: 1s;
}
li {
    font-size: larger;
}
footer{
    min-height: 50vh;
}

/* scrolling animation */
.reviews{
    overflow: hidden;
}
.scroll{
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      /* flex-wrap: nowrap; */
      animation: scrollLeft 20s linear infinite;
}
.scroll > .card{
    box-sizing: content-box !important;
    width: 250px !important;
    height: clamp( 200px, 250px , 250px) !important;
    margin: 0px 15px;
}
@keyframes scrollLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media (max-width: 768px) {

    .carousel-item,
    .carousel-inner {
        height: 25vh;
        /* Adjust the height for smaller screens */
    }
}