@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html {
    scroll-behavior: smooth;
}
body{
    color: black;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
nav,
footer {
    background-color: #0A2265;
}
a,
li,
footer {
    color: #DEE572 !important;
}

li:hover {
    opacity: .5;
}
.nav-item, li, a {
    cursor: pointer;
}
.hero {
    padding: 50px;
    height: 75vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    /* Adjust the alpha value for darkness */
}
.full-bleed{
    box-shadow: 0 0 0 100vmax #123A48;
    clip-path: inset(0 -100vmax);
    color: #DEE572;
}
.hero> *{
    color: #f1f1f1;;
    z-index: 1;
    backdrop-filter: blur(4px);
}

.inverse{
    background-color: #123A48;
}
.content {
    /* box-shadow: 9px 7px 11px -6px  rgba(115, 181, 93, 0.43);
    -webkit-box-shadow: 9px 7px 11px -6px  rgba(115, 181, 93, 0.43);
    -moz-box-shadow: 9px 7px 11px -6px  rgba(115, 181, 93, 0.43); */
    padding: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.card, iframe{
    color: black;
    box-shadow: 11px 11px 9px -7px rgba(0,0,0,0.91);
-webkit-box-shadow: 11px 11px 9px -7px rgba(0,0,0,0.91);
-moz-box-shadow: 11px 11px 9px -7px rgba(0,0,0,0.91);
}
h2 {
    margin-bottom: 20px;
}
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.ratings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.ratings:nth-child(2) {
    transition-delay: 200ms;
}

.ratings:nth-child(3) {
    transition-delay: 400ms;
}

.ratings:nth-child(4) {
    transition-delay: 600ms;
}

.ratings:nth-child(5) {
    transition-delay: 800ms;
}

.ratings:nth-child(6) {
    transition-delay: 1s;
}
li {
    font-size: larger;
}
footer{
    min-height: 50vh;
}

/* scrolling animation */
.reviews{
    overflow: hidden;
}
.scroll{
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      /* flex-wrap: nowrap; */
      animation: scrollLeft 20s linear infinite;
}
.scroll > .card{
    box-sizing: content-box !important;
    width: 250px !important;
    height: clamp( 200px, 250px , 250px) !important;
    margin: 0px 15px;
}
@keyframes scrollLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
@keyframes scrollUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-100%);
    }
  }

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media (max-width: 768px) {

    .carousel-item,
    .carousel-inner {
        height: 25vh;
        /* Adjust the height for smaller screens */
    }
}
